@import models.org.ludwiggj.finance.domain.{CashDelta, FinanceDate, Portfolio, PortfolioList}

@(data: scala.collection.immutable.Map[FinanceDate, PortfolioList], previousYear: Option[Int], nextYear: Option[Int])
<html>
<head>
    <style type="text/css" media="screen">
        table{
        border-collapse:collapse;
        border:1px solid #FF0000;
        }

        table th{
        border:1px solid #FF0000;
        text-decoration: underline;
        }

        table td{
        border:1px solid #FF0000;
        }

        table th,td{
        padding: 5px;
        }

        .blank_row
        {
        height: 20px !important; /* Overwrite any previous rules */
        background-color: #FFFFFF;
        }
    </style>
</head>
<body>
@if(previousYear.isDefined) {
  <a href="@controllers.routes.Portfolios.all(previousYear.get)"><- Previous</a>&nbsp&nbsp&nbsp
}

@if(nextYear.isDefined) {
  <a href="@controllers.routes.Portfolios.all(nextYear.get)">Next -></a>&nbsp&nbsp&nbsp
}

<a href="@controllers.routes.Application.logout">Logout</a>

<table>
    @data.head match { case (_, portfolioList) =>
    <tr>
        <th/>
        @for(portfolio <- portfolioList.iterator) {
        <th colspan="2">@portfolio.userName</th>
        }
        <th colspan="4">TOTAL</th>
    </tr>

    <tr>
        <th>Date</th>
        @for(_ <- portfolioList.iterator) {
        <th>Amount In</th>
        <th>Total</th>
        }
        <th>Amount In</th>
        <th>Total</th>
        <th>Gain</th>
        <th>Gain %</th>
    </tr>
    }

    @data.map { case (investmentDate, portfolioList) =>
    <tr>
        <td>
            <a href="@controllers.routes.Portfolios.onDate(investmentDate)">@investmentDate</a>
        </td>

        @for(portfolio <- portfolioList.iterator) {
        <td style="text-align:right">@("£%8.2f".format(portfolio.delta.amountIn))</td>
        <td style="text-align:right">@("£%9.2f".format(portfolio.delta.total))</td>
        }

        @defining(portfolioList.delta) { cashDelta =>
        <td style="text-align:right">@("£%8.2f".format(cashDelta.amountIn))</td>
        <td style="text-align:right"><strong>@("£%9.2f".format(cashDelta.total))</strong></td>
        <td style="text-align:right">@("£%8.2f".format(cashDelta.gain))</td>
        <td style="text-align:right">@("%6.2f".format(cashDelta.gainPct))</td>
        }

    </tr>
    }
</table>
</body>
</html>