@import models.org.ludwiggj.finance.domain.{FinanceDate, CashDelta}
@import models.org.ludwiggj.finance.Portfolio

@(investmentDates: scala.collection.immutable.Map[FinanceDate, (scala.collection.immutable.List[Portfolio], CashDelta)])
<html>
<head>
    <style type="text/css" media="screen">
        table{
        border-collapse:collapse;
        border:1px solid #FF0000;
        }

        table th{
        border:1px solid #FF0000;
        text-decoration: underline;
        }

        table td{
        border:1px solid #FF0000;
        }

        table th,td{
        padding: 5px;
        }

        .blank_row
        {
        height: 20px !important; /* Overwrite any previous rules */
        background-color: #FFFFFF;
        }
    </style>
</head>
<table>
    @investmentDates.head match { case (_, (portfolios, _)) =>
    <tr>
        <th/>
        @for(portfolio <- portfolios) {
        <th colspan="2">@portfolio.userName</th>
        }
        <th colspan="4">TOTAL</th>
    </tr>

    <tr>
        <th>Date</th>
        @for(portfolio <- portfolios) {
        <th>Amount In</th>
        <th>Total</th>
        }
        <th>Amount In</th>
        <th>Total</th>
        <th>Gain</th>
        <th>Gain %</th>
    </tr>
    }

    @investmentDates.map { case (investmentDate, (portfolios, cashDelta)) =>
    <tr>
        <td>
            <a href="@controllers.routes.Portfolios.onDate(investmentDate)">@investmentDate</a>
        </td>

        @for(portfolio <- portfolios) {
        <td style="text-align:right">@("£%8.2f".format(portfolio.delta.amountIn))</td>
        <td style="text-align:right">@("£%9.2f".format(portfolio.delta.total))</td>
        }

        <td style="text-align:right">@("£%8.2f".format(cashDelta.amountIn))</td>
        <td style="text-align:right"><strong>@("£%9.2f".format(cashDelta.total))</strong></td>
        <td style="text-align:right">@("£%8.2f".format(cashDelta.gain))</td>
        <td style="text-align:right">@("%6.2f".format(cashDelta.gainPct))</td>

    </tr>
    }
</table>
</html>